$bar-width: 250px;

.layout {
  @apply relative sm:mb-5;
  > div:first-child {
    width: $bar-width;
    @apply bg-dark fixed top-0 sm:top-auto bottom-0 overflow-y-scroll text-gray sm:h-max sm:w-full;
  }
  ::-webkit-scrollbar {
    @apply w-3 h-3;
  }
  > .center {
    margin: 0 0 0px $bar-width;
    @apply p-10 pt-6 sm:p-0 sm:pt-4 sm:pb-24 sm15:pb-20 sm3:pb-12 sm:m-0;
    .header {
      @apply flex justify-end;
    }
  }
}
