.tablist {
  border: 1px solid #212123;
  @apply flex items-center justify-start pt-3 border-l-0 border-r-0;
  > div {
    border-bottom: 2px solid transparent;
    @apply cursor-pointer pb-3 px-5;
  }
}
.days {
  @apply flex items-center justify-start px-5 gap-5 pt-3 overflow-x-scroll;
  .day {
    @apply p-2 px-4 min-w-[120px] rounded-md border-gray border cursor-pointer relative;
    > span {
      @apply text-gray mb-1 flex;
    }
    > p {
      @apply text-white border-none;
    }
    > svg {
      @apply absolute top-3 right-3;
    }
  }
  .activeDay {
    @apply p-2 px-4 min-w-[120px] rounded-md border-blue border;
  }
}

.activeTab {
  color: #0ccbcf;
  border-bottom: 2px solid #0ccbcf !important;
}
.btn {
  transition: all 0.5s ease;
  @apply mb-3 mx-auto px-14 py-2.5 rounded-xl max-w-[300px] text-center border-blue border flex items-center justify-center mt-5;
}

.lesson {
  @apply relative block;
  > img {
    @apply w-full object-cover max-h-[300px];
  }
  > p {
    @apply absolute bottom-8 left-5 max-w-[70%] text-3xl sm15:text-2xl sm15:left-4 sm2:bottom-4;
  }

  > button {
    @apply absolute bottom-8 right-5 text-2xl border-blue border px-5 py-1 rounded-lg sm15:px-1 sm:text-lg sm15:bottom-4 sm15:right-4;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(#080a12, 0.85);
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  justify-content: center;
}

.close {
  display: block;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  cursor: pointer;

  color: #fff;
  opacity: 0.5;
  transition: all 0.3s ease;
  > svg {
    width: 30px;
    height: 30px;
  }
}
.text {
  @apply text-center text-gray text-2xl mt-5;
}
